/*----------------------------------------------------------------------------- 
[portfolio] Screen Stylesheet 
version:   1.0 
date:      01/03/07 
author:    [max mackie] 
email:     [maxmackie13@gmail.com] 
website:   [] 
version history: [location of file] */
/* set main color scheme variables */

:root {
  --red: #e63946;
  --off-white: #f1faee;
  --light-blue: #a8dadc;
  --blue: #457b9d;
  --dark-blue: #1d3557;
}

.spacer {
  aspect-ratio: 2000/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url(./layered-waves-haikei.svg);
}
.layer1 {
  background-image: url("data:image/svg+xml;utf8,<svg id='visual' viewBox='002000300' width='2000' height='300' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'><rect x='0' y='0' width='2000' height='300' fill='%23FFFFFF'></rect><path d='M0224l47.7215.2c95.3206.3190.7188.7285.8188c381187.3476203.7571.2208.5c666.3213.3761.7206.7857200.3c952.31941047.71881143194.2c1238.3200.31333.7218.71428.8215.8c152421316191891714.2179.2c1809.3169.31904.7173.71952.3175.8l2000178l20000l1952.30c1904.701809.301714.20c16190152401428.80c1333.701238.3011430c1047.70952.308570c761.70666.30571.20c47603810285.80c190.7095.3047.70l00z' fill='%23fa7268'></path><path d='M089l47.7107c95.3125190.7161285.8166c381171476145571.2132.8c666.3120.7761.7122.3857136.2c952.31501047.71761143180.8c1238.3185.71333.7169.31428.8152c1524134.71619116.31714.2118.2c1809.31201904.71421952.3153l2000164l20000l1952.30c1904.701809.301714.20c16190152401428.80c1333.701238.3011430c1047.70952.308570c761.70666.30571.20c47603810285.80c190.7095.3047.70l00z' fill='%23eb5967'></path><path d='M059l47.768c95.377190.795285.8105c381115476117571.2109.8c666.3102.7761.786.385776.3c952.366.31047.762.7114372c1238.381.31333.7103.71428.8119c1524134.31619142.71714.2131.7c1809.3120.71904.790.31952.375.2l200060l20000l1952.30c1904.701809.301714.20c16190152401428.80c1333.701238.3011430c1047.70952.308570c761.70666.30571.20c47603810285.80c190.7095.3047.70l00z' fill='%23da3f67'></path><path d='M0100l47.789.5c95.379190.758285.854c3815047663571.271.3c666.379.7761.783.385782.2c952.3811047.775114366.2c1238.357.31333.745.71428.845c152444.3161954.71714.253.2c1809.351.71904.738.31952.331.7l200025l20000l1952.30c1904.701809.301714.20c16190152401428.80c1333.701238.3011430c1047.70952.308570c761.70666.30571.20c47603810285.80c190.7095.3047.70l00z' fill='%23c62368'></path></svg>");
}
